<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QMLContract -->
      <package
            uri="http://sdq.ipd.kit.edu/QML/contract/1.0"
            class="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContractPackage"
            genModel="model/QMLContract.genmodel"/>
   </extension>

</plugin>
