# Java
.mtj.tmp/
*.class
*.ctxt
*.ear
*.jar
*.java._trace
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
hs_err_pid*

# Xtext
*.xtendbin
src-gen/
xtend-gen/

# Palladio
de.uka.ipd.sdq.temporary/
org.palladiosimulator.temporary/
PerOpteryx_results_woven/
PerOpteryx_results/

# Eclipse 
.autotools
.buildpath
.cache-main
.cproject
.externalToolBuilders/
.factorypath
.gradle
.loadpath
.metadata
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.worksheet
*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
bin/
local.properties
tmp/

# macOS
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Network Trash Folder
Temporary Items

# Linux
.directory
.fuse_hidden*
.nfs*
.Trash-*
*~

# Windows
[Dd]esktop.ini
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
ehthumbs_vista.db
ehthumbs.db
Thumbs.db

# To add an empty directory
!.gitkeep
