<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionModelWizardID"
            name="%_UI_designdecisionModelWizard_label"
            class="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/designdecisionModelFile.gif">
         <description>%_UI_designdecisionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionEditorID"
            name="%_UI_designdecisionEditor_label"
            icon="icons/full/obj16/designdecisionModelFile.gif"
            extensions="designdecision"
            class="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionEditor"
            contributorClass="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionActionBarContributor">
      </editor>
   </extension>

</plugin>
