<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionModelWizardID"
            name="%_UI_designdecisionModelWizard_label"
            class="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/designdecisionModelFile.gif">
         <description>%_UI_designdecisionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DesignDecision -->
      <editor
            id="de.uka.ipd.sdq.pcm.resourcerepository.presentation.resourcerepositoryEditorID"
            name="%_UI_resourcerepositoryEditor_label"
            icon="icons/full/obj16/resourcerepositoryModelFile.gif"
            extensions="resourcerepository"
            class="de.uka.ipd.sdq.pcm.resourcerepository.presentation.resourcerepositoryEditor"
            contributorClass="de.uka.ipd.sdq.pcm.resourcerepository.presentation.resourcerepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DesignDecision -->
      <editor
            id="de.uka.ipd.sdq.pcm.designdecision.QualityProperties.presentation.QualityPropertiesEditorID"
            name="%_UI_QualityPropertiesEditor_label"
            icon="icons/full/obj16/QualityPropertiesModelFile.gif"
            extensions="qualityproperties"
            class="de.uka.ipd.sdq.pcm.designdecision.QualityProperties.presentation.QualityPropertiesEditor"
            contributorClass="de.uka.ipd.sdq.pcm.designdecision.QualityProperties.presentation.QualityPropertiesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DesignDecision -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.resourcerepository.presentation.resourcerepositoryModelWizardID"
            name="%_UI_resourcerepositoryModelWizard_label"
            class="de.uka.ipd.sdq.pcm.resourcerepository.presentation.resourcerepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/resourcerepositoryModelFile.gif">
         <description>%_UI_resourcerepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated DesignDecision -->
      <editor
            id="de.uka.ipd.sdq.pcm.designdecision.GDoF.presentation.GDoFEditorID"
            name="%_UI_GDoFEditor_label"
            icon="icons/full/obj16/GDoFModelFile.gif"
            extensions="gdof"
            class="de.uka.ipd.sdq.pcm.designdecision.GDoF.presentation.GDoFEditor"
            contributorClass="de.uka.ipd.sdq.pcm.designdecision.GDoF.presentation.GDoFActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DesignDecision -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.designdecision.QualityProperties.presentation.QualityPropertiesModelWizardID"
            name="%_UI_QualityPropertiesModelWizard_label"
            class="de.uka.ipd.sdq.pcm.designdecision.QualityProperties.presentation.QualityPropertiesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QualityPropertiesModelFile.gif">
         <description>%_UI_QualityPropertiesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionEditorID"
            name="%_UI_designdecisionEditor_label"
            icon="icons/full/obj16/designdecisionModelFile.gif"
            extensions="designdecision"
            class="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionEditor"
            contributorClass="de.uka.ipd.sdq.pcm.designdecision.presentation.designdecisionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DesignDecision -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.pcm.designdecision.GDoF.presentation.GDoFModelWizardID"
            name="%_UI_GDoFModelWizard_label"
            class="de.uka.ipd.sdq.pcm.designdecision.GDoF.presentation.GDoFModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GDoFModelFile.gif">
         <description>%_UI_GDoFModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
</plugin>
