<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.CreateFeatureBelow"
            id="action.CreateFeatureBelow">
      </javaActions>
      <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.ChangeMandatoryOptional"
            id="action.ChangeMandatoryOptional">
      </javaActions>
      <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.ChangeChildrenRelationshipType"
            id="action.ChangeChildrenRelationshipType">
      </javaActions>
      <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.ChangeFeatureParent"
            id="action.ChangeFeatureParent">
      </javaActions>
     <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.DeleteFeatureFromConstraints"
            id="action.DeleteFeatureFromConstraints">
      </javaActions>
      <javaActions
            actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.custom.java.ChangeIntegerRangeValues"
            id="action.ChangeIntegerRangeValues">
      </javaActions>
      
	</extension>
</plugin>
