<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated namedelement -->
      <package
            uri="http://sdq.ipd.uka.de/NamedElement/0.1"
            class="namedelement.NamedelementPackage"
            genModel="model/namedelement.genmodel"/>
   </extension>

</plugin>
