<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated profile -->
      <package
            uri="http://sdq.ipd.kit.edu/QML/profile/1.0"
            class="de.uka.ipd.sdq.dsexplore.qml.profile.ProfilePackage"
            genModel="model/profile.genmodel"/>
   </extension>

</plugin>
