<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated namedelement -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="namedelement.presentation.NamedelementModelWizardID"
            name="%_UI_NamedelementModelWizard_label"
            class="namedelement.presentation.NamedelementModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NamedelementModelFile.gif">
         <description>%_UI_NamedelementModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated namedelement -->
      <editor
            id="namedelement.presentation.NamedelementEditorID"
            name="%_UI_NamedelementEditor_label"
            icon="icons/full/obj16/NamedelementModelFile.gif"
            extensions="namedelement"
            class="namedelement.presentation.NamedelementEditor"
            contributorClass="namedelement.presentation.NamedelementActionBarContributor">
      </editor>
   </extension>

</plugin>
