<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated units -->
      <package
            uri="http://sdq.ipd.kit.edu/QML/units/1.0"
            class="de.uka.ipd.sdq.dsexplore.qml.units.UnitsPackage"
            genModel="model/units.genmodel"/>
   </extension>

</plugin>
