<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.analysis">
      <analysis
            delegate="de.uka.ipd.sdq.dsexplore.analysis.featurecompletions.FeatureEvaluator"
            launchConfigContribution="de.uka.ipd.sdq.dsexplore.analysis.featurecompletions.FeatureAnalysisTabGroup"
            name="FeatureCompletion Analysis"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.featurecompletions"
            qualityAttributeHandler="de.uka.ipd.sdq.dsexplore.analysis.featurecompletions.FeatureSolverQualityAttributeDeclaration">
      </analysis>
   </extension>

</plugin>
