<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated strategy -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="concernStrategy.presentation.StrategymodelModelWizardID"
            name="%_UI_StrategymodelModelWizard_label"
            class="concernStrategy.presentation.StrategymodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StrategymodelModelFile.gif">
         <description>%_UI_StrategymodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated strategy -->
      <editor
            id="concernStrategy.presentation.StrategymodelEditorID"
            name="%_UI_StrategymodelEditor_label"
            icon="icons/full/obj16/StrategymodelModelFile.gif"
            extensions="strategymodel"
            class="concernStrategy.presentation.StrategymodelEditor"
            contributorClass="concernStrategy.presentation.StrategymodelActionBarContributor">
      </editor>
   </extension>

</plugin>
