<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://PCM_MODELS/"
       target="platform:/plugin/de.uka.ipd.sdq.pcm.resources/defaultModels/">
    </mapping>
    <mapping
       source="pathmap://PCM_TRANSFORMATIONS/EVENTS/"
       target="platform:/plugin/de.uka.ipd.sdq.pcm.resources/transformations/events/">
    </mapping>
  </extension>
</plugin>
