<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.analysis">
      <analysis
            delegate="de.uka.ipd.sdq.dsexplore.analysis.reliability.ReliabilityAnalysis"
            launchConfigContribution="de.uka.ipd.sdq.dsexplore.analysis.reliability.launch.ReliabilityAnalysisTabGroup"
            name="Reliability Solver Analysis"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.reliability"
            qualityAttributeHandler="de.uka.ipd.sdq.dsexplore.analysis.reliability.ReliabilitySolverQualityAttributeDeclaration">
      </analysis>
   </extension>

</plugin>
