<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.palladiosimulator.org/aes/ArchitectureEffectSpecification"
			class = "org.palladiosimulator.aes.architectureEffectSpecification.ArchitectureEffectSpecificationPackage"
			genModel = "model/generated/ArchitectureEffectSpecification.genmodel" />
	</extension>
</plugin>
