<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated profile -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.profile.presentation.ProfileModelWizardID"
            name="%_UI_ProfileModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.profile.presentation.ProfileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProfileModelFile.gif">
         <description>%_UI_ProfileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated profile -->
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.profile.presentation.ProfileEditorID"
            name="%_UI_ProfileEditor_label"
            icon="icons/full/obj16/ProfileModelFile.gif"
            extensions="profile"
            class="de.uka.ipd.sdq.dsexplore.qml.profile.presentation.ProfileEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.profile.presentation.ProfileActionBarContributor">
      </editor>
   </extension>

</plugin>
