<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.analysis">
      <analysis
            delegate="de.uka.ipd.sdq.dsexplore.analysis.lqn.LQNSolverAnalysis"
            launchConfigContribution="de.uka.ipd.sdq.dsexplore.analysis.lqn.launch.LQNAnalysisTabGroup"
            name="LQN Solver Analysis"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.performance"
            qualityAttributeHandler="de.uka.ipd.sdq.dsexplore.analysis.lqn.LQNQualityAttributeDeclaration">
      </analysis>
      <analysis
            delegate="de.uka.ipd.sdq.dsexplore.analysis.lqn.LQSimAnalysis"
            launchConfigContribution="de.uka.ipd.sdq.dsexplore.analysis.lqn.launch.LQSimAnalysisTabGroup"
            name="LQN Simulation Analysis"
            qualityAttribute="de.uka.ipd.sdq.dsexplore.performance"
            qualityAttributeHandler="de.uka.ipd.sdq.dsexplore.analysis.lqn.LQNQualityAttributeDeclaration">
      </analysis>
   </extension>
</plugin>
