<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.profile.QMLProfile.presentation.QMLProfileModelWizardID"
            name="%_UI_QMLProfileModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.profile.QMLProfile.presentation.QMLProfileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QMLProfileModelFile.gif">
         <description>%_UI_QMLProfileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.profile.QMLProfile.presentation.QMLProfileEditorID"
            name="%_UI_QMLProfileEditor_label"
            icon="icons/full/obj16/QMLProfileModelFile.gif"
            extensions="qmlprofile"
            class="de.uka.ipd.sdq.dsexplore.qml.profile.QMLProfile.presentation.QMLProfileEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.profile.QMLProfile.presentation.QMLProfileActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.declarations.QMLDeclarations.presentation.QMLDeclarationsModelWizardID"
            name="%_UI_QMLDeclarationsModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.declarations.QMLDeclarations.presentation.QMLDeclarationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QMLDeclarationsModelFile.gif">
         <description>%_UI_QMLDeclarationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.declarations.QMLDeclarations.presentation.QMLDeclarationsEditorID"
            name="%_UI_QMLDeclarationsEditor_label"
            icon="icons/full/obj16/QMLDeclarationsModelFile.gif"
            extensions="qmldeclarations"
            class="de.uka.ipd.sdq.dsexplore.qml.declarations.QMLDeclarations.presentation.QMLDeclarationsEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.declarations.QMLDeclarations.presentation.QMLDeclarationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContract.presentation.QMLContractModelWizardID"
            name="%_UI_QMLContractModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContract.presentation.QMLContractModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QMLContractModelFile.gif">
         <description>%_UI_QMLContractModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContract.presentation.QMLContractEditorID"
            name="%_UI_QMLContractEditor_label"
            icon="icons/full/obj16/QMLContractModelFile.gif"
            extensions="qmlcontract"
            class="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContract.presentation.QMLContractEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.contract.QMLContract.presentation.QMLContractActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.contracttype.QMLContractType.presentation.QMLContractTypeModelWizardID"
            name="%_UI_QMLContractTypeModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.contracttype.QMLContractType.presentation.QMLContractTypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QMLContractTypeModelFile.gif">
         <description>%_UI_QMLContractTypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.contracttype.QMLContractType.presentation.QMLContractTypeEditorID"
            name="%_UI_QMLContractTypeEditor_label"
            icon="icons/full/obj16/QMLContractTypeModelFile.gif"
            extensions="qmlcontracttype"
            class="de.uka.ipd.sdq.dsexplore.qml.contracttype.QMLContractType.presentation.QMLContractTypeEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.contracttype.QMLContractType.presentation.QMLContractTypeActionBarContributor">
      </editor>
   </extension>

</plugin>
