<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.palladiosimulator.org/qes/QualityEffectSpecification"
			class = "org.palladiosimulator.qes.qualityEffectSpecification.QualityEffectSpecificationPackage"
			genModel = "model/generated/QualityEffectSpecification.genmodel" />
	</extension>
</plugin>
