<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<!-- @generated nqr -->
		<package
			uri="http://palladiosimulator.org/QualityModel/1.0"
			class="org.palladiosimulator.qualitymodel.QualityModelPackage"
			genModel="model/qualitymodel.genmodel"/>
   </extension>
</plugin>
