<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated componentSecurity -->
      <package
            uri="http://www.example.org/componentSecurity"
            class="componentSecurity.ComponentSecurityPackage"
            genModel="model/componentSecurity.genmodel"/>
   </extension>

</plugin>
