<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/DesignDecision/2.0"
            class="de.uka.ipd.sdq.pcm.designdecision.designdecisionPackage"
            genModel="model/DesignDecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="designdecision"
            class="de.uka.ipd.sdq.pcm.designdecision.util.designdecisionResourceFactoryImpl"/>
   </extension>
   
      <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/DesignDecision/GDoF/2.0"
            class="de.uka.ipd.sdq.pcm.designdecision.gdof.gdofPackage"
            genModel="model/DesignDecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="gdof"
            class="de.uka.ipd.sdq.pcm.designdecision.gdof.util.gdofResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DesignDecision -->
      <package
            uri="http://sdq.ipd.uka.de/DesignDecision/QualityProperties/3.0"
            class="de.uka.ipd.sdq.pcm.designdecision.qualityproperties.qualitypropertiesPackage"
            genModel="model/DesignDecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated DesignDecision -->
      <parser
            type="qualityproperties"
            class="de.uka.ipd.sdq.pcm.designdecision.qualityproperties.util.qualitypropertiesResourceFactoryImpl"/>
   </extension>

      <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.uka.de/DesignDecision/ResourceRepository/2.0"
            class="de.uka.ipd.sdq.pcm.resourcerepository.resourcerepositoryPackage"
            genModel="model/DesignDecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="resourcerepository"
            class="de.uka.ipd.sdq.pcm.resourcerepository.util.resourcerepositoryResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DesignDecision -->
      <package
            uri="http://sdq.ipd.uka.de/DesignDecision/Specific/3.0"
            class="de.uka.ipd.sdq.pcm.designdecision.specific.specificPackage"
            genModel="model/DesignDecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated DesignDecision -->
      <parser
            type="specific"
            class="de.uka.ipd.sdq.pcm.designdecision.specific.util.specificResourceFactoryImpl"/>
   </extension>

</plugin>
