<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.kit.ipd.are.dsexplore.featurecompletions.design.Activator"
               id="FeatureCompletion.design"
	       name="FeatureCompletion">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="edu.kit.ipd.are.dsexplore.featurecompletions.design.RemoveFullfillsComplementumVisnetis"
           id="action.RemoveFullfillsComplementumVisnetis">
     </javaActions>
  </extension>
</plugin>
