<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericdesigndecision -->
      <package
            uri="http://sdq.ipd.uka.de/GenericDesignDecision/"
            class="genericdesigndecision.GenericdesigndecisionPackage"
            genModel="model/genericdesigndecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericdesigndecision -->
      <package
            uri="http://sdq.ipd.uka.de/GenericDesignDecision/GenericDoF/"
            class="genericdesigndecision.genericDoF.GenericDoFPackage"
            genModel="model/genericdesigndecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericdesigndecision -->
      <package
            uri="http://sdq.ipd.uka.de/GenericDesignDecision/UniversalDoF/"
            class="genericdesigndecision.universalDoF.UniversalDoFPackage"
            genModel="model/genericdesigndecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericdesigndecision -->
      <package
            uri="http://sdq.ipd.uka.de/GenericDesignDecision/QualityProperties/"
            class="genericdesigndecision.qualityproperties.QualitypropertiesPackage"
            genModel="model/genericdesigndecision.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genericdesigndecision -->
      <package
            uri="http://sdq.ipd.uka.de/GenericDesignDecision/PCMSupport/"
            class="genericdesigndecision.pcmsupport.PcmsupportPackage"
            genModel="model/genericdesigndecision.genmodel"/>
   </extension>

</plugin>
