<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metricspec -->
      <package
            uri="http://palladiosimulator.org/MetricSpec/1.0"
            class="org.palladiosimulator.metricspec.MetricSpecPackage"
            genModel="model/metricspec.genmodel"/>
   </extension>

</plugin>
