<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.uka.ipd.sdq.dsexplore.analysis" name="de.uka.ipd.sdq.dsexplore.analysis" schema="schema/de.uka.ipd.sdq.dsexplore.analysis.exsd"/>
   <extension-point id="de.uka.ipd.sdq.dsexplore.newcandidates" name="de.uka.ipd.sdq.dsexplore.newcandidates" schema="schema/de.uka.ipd.sdq.dsexplore.newcandidates.exsd"/>
   <extension-point id="de.uka.ipd.sdq.dsexplore.currentcandidates" name="de.uka.ipd.sdq.dsexplore.currentcandidates" schema="schema/de.uka.ipd.sdq.dsexplore.currentcandidates.exsd"/>
   
    <!--extension
       point="org.eclipse.ui.views">
	<view
          allowMultiple="false"
          class="de.uka.ipd.sdq.dsexplore.launch.DSEDockStatusViewPart"
          icon="icons/screen_blue_small.gif"
          id="de.uka.ipd.sdq.dsexplore.DockStatusViewPart"
          name="DSE Status">
    </view>
 </extension-->

</plugin>
