<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nqr -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.nqr.presentation.NqrModelWizardID"
            name="%_UI_NqrModelWizard_label"
            class="de.uka.ipd.sdq.nqr.presentation.NqrModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NqrModelFile.gif">
         <description>%_UI_NqrModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nqr -->
      <editor
            id="de.uka.ipd.sdq.nqr.presentation.NqrEditorID"
            name="%_UI_NqrEditor_label"
            icon="icons/full/obj16/NqrModelFile.gif"
            extensions="nqr"
            class="de.uka.ipd.sdq.nqr.presentation.NqrEditor"
            contributorClass="de.uka.ipd.sdq.nqr.presentation.NqrActionBarContributor">
      </editor>
   </extension>

</plugin>
