<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.analysis">
      <analysis
            delegate="edu.kit.ipd.are.dsexplore.analysis.security.SecurityEvaluator"
            launchConfigContribution="edu.kit.ipd.are.dsexplore.analysis.security.SecurityAnalysisTabGroup"
            name="Security Analysis (JK)"
            qualityAttribute="edu.kit.ipd.are.dsexplore.analysis.security"
            qualityAttributeHandler="edu.kit.ipd.are.dsexplore.analysis.security.SecuritySolverQualityAttributeDeclaration">
      </analysis>
   </extension>

</plugin>
