<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated QMLContract -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uka.ipd.sdq.dsexplore.qml.contract.presentation.QMLContractModelWizardID"
            name="%_UI_QMLContractModelWizard_label"
            class="de.uka.ipd.sdq.dsexplore.qml.contract.presentation.QMLContractModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QMLContractModelFile.gif">
         <description>%_UI_QMLContractModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated QMLContract -->
      <editor
            id="de.uka.ipd.sdq.dsexplore.qml.contract.presentation.QMLContractEditorID"
            name="%_UI_QMLContractEditor_label"
            icon="icons/full/obj16/QMLContractModelFile.gif"
            extensions="qmlcontract"
            class="de.uka.ipd.sdq.dsexplore.qml.contract.presentation.QMLContractEditor"
            contributorClass="de.uka.ipd.sdq.dsexplore.qml.contract.presentation.QMLContractActionBarContributor">
      </editor>
   </extension>

</plugin>
